header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 10px 100px 0;
  background-color: #d6fff6;
}
header h2 a {
  color: #000000;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
  color: #000000;
}

header nav li a {
  color: #000000;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}